@use "themes/mytheme/variables" as var;

app-user-menu-table {
  .p-tabview {
    height: 100%;
    display: flex;
    flex-direction: column;

    .p-tabview-panels {
      flex: 1;
      overflow: auto;

      .p-tabview-panel {
        height: 100%;

        .p-datatable {
          height: 100%;

          .p-datatable-wrapper {
            height: 100%;

            thead {
              position: sticky;
              top: 0;
              z-index: 1;
            }

            .group-header {
              height: 40px;
              background-color: var.$tableHeaderBg;

              td {
                padding: 0;
                text-align: center;
                font-weight: 500;
                color: var.$primaryColor;
              }
            }

            tr:not(.group-header) {
              td {
                height: 56px;
                padding: 0 16px;

                span {
                  display: inline-block;
                  width: 100%;
                  text-wrap: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }

            td {
              max-width: 50px;

              .p-dropdown {
                width: 100%;

                .p-overlay {
                  max-width: 100%;

                  .p-dropdown-item span {
                    display: inline-block;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.user-menu-table-dropdown-overlay {
  max-width: 22%;

  .dropdown-item {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
