<div class="auth-container">
  <img src="assets/logo.svg" alt="fondital-logo" class="logo">

  <div class="auth-form">
    <div class="form-field-wrapper">
      <input appOnlyNumber pInputText type="text"
             placeholder="Табельный номер"
             [formControl]="loginData.controls.serviceNumber">
      <small>{{ getErrorMessage(loginData.controls.serviceNumber) }}</small>
    </div>
    <div class="form-field-wrapper">
      <p-iconField iconPosition="right">
        <p-inputIcon style="cursor: pointer"
                     [styleClass]="isPasswordShow ? 'fi fi-rr-eye-crossed' : 'fi fi-rr-eye'"
                     (click)="togglePassword()"/>
        <input [type]="isPasswordShow ? 'text' : 'password'"
               placeholder="Пароль" pInputText
               [formControl]="loginData.controls.password">
      </p-iconField>
      <small>{{ getErrorMessage(loginData.controls.password) }}</small>
    </div>

    <button pButton [disabled]="isLoading$ | async"
            (click)="loginBtnClick$.next()">
      @if (isLoading$ | async) {
        <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
      } @else {
        Войти
      }
    </button>
  </div>
</div>
