<div class="auth-container">
  <img src="assets/logo.svg" alt="fondital-logo" class="logo">

  <div class="auth-form">
    <div class="form-field-wrapper">
      <input appOnlyNumber pInputText type="text"
             placeholder="Табельный номер"
             [formControl]="loginData.controls.serviceNumber">
      <small>{{ getErrorMessage(loginData.controls.serviceNumber) }}</small>
    </div>
    <div class="form-field-wrapper">
      <input type="password" placeholder="Пароль" pInputText [formControl]="loginData.controls.password">
      <small>{{ getErrorMessage(loginData.controls.password) }}</small>
    </div>

    <button pButton [disabled]="isLoading$ | async"
            (click)="loginBtnClick$.next()">
      @if (isLoading$ | async) {
        <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
      } @else {
        Войти
      }
    </button>
  </div>
</div>
