<div class="user-menu-container">
  @if (currentUserMenu$ | async; as menu) {
    <div class="user-menu-content">
      <div class="user-top-service">
        <div class="user-name">{{menu.employeeName}}</div>
        <div class="date">{{currentDate$ | async}}</div>
      </div>


      <div class="table-container">
        <app-user-menu-table [weeks]="menu.weeks"
                             [generalMenu]="generalMenu$ | async"
                             [currentWeek]="currentWeek">
        </app-user-menu-table>
      </div>

      <div class="bottom-service">
        <button pButton (click)="openCalendarDialog()">Открыть календарь</button>
        <button pButton [disabled]="getBtnState(menu, _cachedUserMenu)" (click)="saveMenuBtnClick$.next(menu)">Сохранить изменения</button>
      </div>
    </div>
  } @else {
    <app-loading-screen></app-loading-screen>
  }
</div>

@if (calendarOptions$ | async; as options) {
  <p-dialog class="calendar-modal" modal="true" [(visible)]="isCalendarDialogShow" [style]="{width: '95%', height: '95%'}">
    <full-calendar #calendar [options]="options" ></full-calendar>
  </p-dialog>
}
