<div class="users-management-container">
  @if (employees$ | async; as employees) {
    <div class="table-top-service">
      <h2>Список сотрудников</h2>

      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="fi fi-rr-search"></i>
        </p-inputIcon>
        <input #search
               pInputText
               type="text"
               placeholder="Поиск"
               (input)="dt2.filterGlobal(search.value, 'contains')"/>
      </p-iconField>
    </div>

    <div class="table-container">
      <p-table #dt2
               [value]="employees"
               [globalFilterFields]="['fullName', 'role', 'username']">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:50px" class="sticky-left">№ п/п</th>
            <th style="width:20%">Табельный номер</th>
            <th style="width:20%">ФИО</th>
            <th style="width:20%">Роль</th>
            <th style="width:20%">Статус</th>
            <th style="width:50px" class="sticky-right"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
          <tr>
            <td class="sticky-left">
              {{ rowIndex + 1 }}
            </td>
            <td>
              {{ employee.username.split('@')[0] }}
            </td>
            <td [pEditableColumn]="employee.fullName" pEditableColumnField="fullName">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText placeholder="Введите ФИО сотрудника"
                         [(ngModel)]="employee.fullName"
                         (change)="editUser.emit(employee)">
                </ng-template>
                <ng-template pTemplate="output">
                  <span>
                    {{ employee.fullName }}
                  </span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              {{ employee.role }}
            </td>
            <td [pEditableColumn]="employee.status" pEditableColumnField="status">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-dropdown placeholder="Выберите статус"
                              appendTo="body"
                              optionLabel="label"
                              optionValue="value"
                              [overlayOptions]="{styleClass: 'user-menu-table-dropdown-overlay'}"
                              [options]="employeeStatuses"
                              [(ngModel)]="employee.status"
                              (onChange)="editUser.emit(employee)">
                  </p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                  <span>
                    <p-tag [class]="employee.status">{{ STATUSES[employee.status] }}</p-tag>
                  </span>
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="max-width: 50px" class="sticky-right">
              @if (employee.role !== "Dining" && employee.role !== "Admin" ) {
                <button pButton icon="fi fi-rr-restaurant"
                        severity="secondary"
                        size="large"
                        style="width: 42px; height: 42px"
                        [rounded]="true"
                        [text]="true"
                        (click)="openUserMenu.emit(employee.id)">
                </button>
              }

              <button pButton icon="fi fi-rr-trash"
                      severity="danger"
                      size="large"
                      style="width: 42px; height: 42px"
                      [rounded]="true"
                      [text]="true"
                      (click)="removeUser.emit(employee)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <button pButton (click)="showModal()">Добавить сотрудника</button>
  } @else {
    <app-loading-screen></app-loading-screen>
  }
</div>

<p-dialog class="modal"
          [header]="'Добавление нового сотрудника'"
          [modal]="true"
          [(visible)]="isDialogShow"
          (onHide)="resetForm()">
  <div class="modal-content">
    <div class="form">
      <div class="form-field-wrapper">
       <input appOnlyNumber
              pInputText
              placeholder="Введите табельный номер сотрудника"
              [formControl]="userFormDto.controls.username">
        <small>{{ getErrorMessage(userFormDto.controls.username) }}</small>
      </div>

      <div class="form-field-wrapper">
        <input pInputText placeholder="Введите Пароль для сотрудника" [formControl]="userFormDto.controls.password">
        <small>{{ getErrorMessage(userFormDto.controls.password) }}</small>
      </div>

      <div class="form-field-wrapper">
        <input pInputText placeholder="Введите ФИО сотрудника" [formControl]="userFormDto.controls.fullName">
        <small>{{ getErrorMessage(userFormDto.controls.fullName) }}</small>
      </div>

      <div class="form-field-wrapper">
        <p-dropdown
          placeholder="Выберите роль сотрудника"
          appendTo="body"
          [options]="['User', 'Admin', 'Dining']"
          [formControl]="userFormDto.controls.role"/>
        <small>{{ getErrorMessage(userFormDto.controls.role) }}</small>
      </div>
    </div>

    <div class="modal-service">
      <button pButton label="Отмена"
              severity="secondary"
              text="true"
              [disabled]="isLoading$ | async"
              (click)="isDialogShow = false"></button>
      <button pButton [disabled]="isLoading$ | async" (click)="sendForm()" style="min-width: 110px; justify-content: center">
        @if (isLoading$ | async) {
          <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
        } @else {
          Добавить
        }
      </button>
    </div>
  </div>
</p-dialog>
