@use "themes/mytheme/variables" as var;

app-users-management {

  .users-management-container {
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .table-container {
      height: 1%;
      width: 100%;
      flex: 1;

      .p-datatable {
        height: 100%;

        .table-top-service {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h2 {
            margin: 0;
            font-size: 20px;
          }
        }

        .sticky-left {
          position: sticky;
          left: 0;
          z-index: 1;
          min-width: 100px;
        }

        .sticky-right {
          position: sticky;
          right: 0;
          z-index: 1;
          padding: 0;
          min-width: 90px;
          text-align: end;
        }

        td:not(.sticky-left, .sticky-right) {
          min-width: 240px;
        }

        thead {
          position: sticky;
          top: 0;
          z-index: 1;
        }

        tbody {
          td {
            background-color: var.$tableBodyRowBg;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        tr {
          td {
            height: 56px;
            padding: 0 16px;

            &.p-editable-column {
              cursor: pointer;
            }

            .Working {
              .p-tag {
                background-color: var.$successMessageBg;
                color: var.$successMessageTextColor;
              }
            }

            .Vacation {
              .p-tag {
                background-color: var.$warningMessageBg;
                color: var.$warningMessageTextColor;
              }
            }

            .Mission {
              .p-tag {
                background-color: var.$errorMessageBg;
                color: var.$errorMessageTextColor;
              }
            }
          }
        }

        td {
          max-width: 50px;
        }
      }
    }
  }

  .modal-content {
    min-width: 480px;
    padding: 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .form {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .form-field-wrapper {
        width: 100%;

        input, .p-inputwrapper {
          width: 100%;
        }

        small {
          display: inline-block;
          font-size: 10px;
          height: 12px;
          width: 100%;
          color: var.$errorColor;
        }
      }
    }

    .modal-service {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;

      .p-progress-spinner-circle {
        stroke: white;
        animation: none;
      }
    }
  }
}
