<div class="menu-administration-container">
  <div class="tabs-container">
    @if (generalMenu$ | async; as menu) {
      <p-tabView>
        @for (week of menu.weeks; track week; let i = $index) {
          <p-tabPanel [header]="WEEKS[week.name]" class="menu-tabs">
            <p-table #table [value]="week.days | normalizeMeals"
                     groupRowsBy="name"
                     rowGroupMode="subheader">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Первое</span>
                      <button pButton icon="fi fi-br-plus" (click)="logMenu(menu)" size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Второе</span>
                      <button pButton icon="fi fi-br-plus" (click)="logMenu(menu)" size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Гарнир</span>
                      <button pButton icon="fi fi-br-plus" (click)="logMenu(menu)" size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Салат</span>
                      <button pButton icon="fi fi-br-plus" (click)="logMenu(menu)" size="small"></button>
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="groupheader" let-weekDay>
                <tr pRowGroupHeader class="group-header">
                  <td colspan="5">
                    <span class="font-bold ml-2">{{DAYS_OF_WEEK[weekDay.name]}}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-weekDay let-rowIndex="rowIndex">
                <tr>
                  <td pEditableColumnField="firstCourse">
                    <ul>
                      @for (firstCourse of weekDay.meals.firstCourse; track firstCourse.id) {
                        <li [title]="firstCourse.name">{{firstCourse.name}}</li>
                      }
                    </ul>
                  </td>
                  <td pEditableColumnField="secondCourse">
                    <ul>
                      @for (secondCourse of weekDay.meals.secondCourse; track secondCourse.id) {
                        <li [title]="secondCourse.name">{{secondCourse.name}}</li>
                      }
                    </ul>
                  </td>
                  <td pEditableColumnField="sideDish">
                    <ul>
                      @for (sideDish of weekDay.meals.sideDish; track sideDish.id) {
                        <li [title]="sideDish.name">{{sideDish.name}}</li>
                      }
                    </ul>
                  </td>
                  <td pEditableColumnField="salad">
                    <ul>
                      @for (salad of weekDay.meals.salad; track salad.id) {
                        <li [title]="salad.name">{{salad.name}}</li>
                      }
                    </ul>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
        }
      </p-tabView>

      <p-dialog class="modal" header="Первое" [modal]="true" [(visible)]="isDialogShow">
        <div class="modal-content">
          <div class="form">
            <p-multiSelect
              appendTo="body"
              [options]="['Cуп', 'Борщ', 'Солянка']"
              placeholder="Выберите блюдо" />
            <p-dropdown
              appendTo="body"
              placeholder="Выберите день недели"
              [options]="['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница']"/>
          </div>
          <div class="modal-service">
            <p-button label="Отмена" severity="secondary" text="true" (click)="isDialogShow = false" />
            <p-button label="Добавить" (click)="isDialogShow = false" />
          </div>
        </div>
      </p-dialog>
    } @else {
      <app-loading-screen></app-loading-screen>
    }
  </div>
</div>
