@use "themes/mytheme/variables" as var;

app-menu-administration {
  .menu-administration-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 32px;

    .user-top-service {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .tabs-container {
      height: 1%;
      flex: 1;

      .p-tabview {
        height: 100%;
        display: flex;
        flex-direction: column;

        .tab-header {
          display: flex;
          align-items: center;
          gap: 12px;

          i {
            transform: translateY(2px);

            &:hover {
              opacity: 0.7;
            }
          }
        }

        .p-tabview-panels {
          flex: 1;
          overflow: auto;

          .p-tabview-panel {
            height: 100%;

            .p-datatable {
              height: 100%;

              .p-datatable-wrapper {
                height: 100%;

                thead {
                  position: sticky;
                  top: 0;
                  z-index: 1;

                  .header-cell-service {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button {
                      width: 30px;
                      height: 30px;

                      .p-button-icon {
                        height: 14px;
                      }
                    }
                  }
                }

                .group-header {
                  height: 40px;
                  background-color: var.$tableHeaderBg;

                  td {
                    padding: 0;
                    text-align: center;
                    font-weight: 500;
                    color: var.$primaryColor;
                  }
                }

                tbody {
                  tr:not(.group-header) {
                    td {
                      max-width: 50px;
                      height: 50px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
          }
        }
      }


      .modal-content {
        min-width: 480px;
        padding: 0 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .form {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .p-inputwrapper {
            width: 100%;
          }

          .form-field-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;

            small {
              font-size: 10px;
              color: var.$errorMessageTextColor;
            }
          }

          .add-meal-btn {
            align-self: end;
          }
        }

        .modal-service {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 8px;

          .p-progress-spinner-circle {
            stroke: white;
            animation: none;
          }
        }
      }

      .calendar-modal {
        .p-dialog-content {
          padding-bottom: 32px;

          .fc {
            height: 100% !important;

            .fc-view-harness {
              height: 1%;
              flex: 1;
            }

            button {
              background: var.$primaryColor;
              border: none;
              box-shadow: none;

              &:active {
                background: var.$primaryDarkColor;
              }
            }
          }
        }
      }
    }

    .bottom-service {
      display: flex;
      justify-content: center;
    }
  }
}
