<div class="menu-administration-container">
  <div class="user-top-service">
    <button pButton (click)="openWeekModal()">Добавить новую неделю</button>
    <div class="date">{{ currentDate }}</div>
  </div>

  <div class="tabs-container">
    @if (generalMenu$ | async; as menu) {

      <p-tabView [(activeIndex)]="_currentWeekIndex">
        @for (week of menu.weeks; track week.name; let i = $index) {
          <p-tabPanel class="menu-tabs">
            <ng-template pTemplate="header">
              <div class="tab-header" (dblclick)="openWeekModal(week)">
                <span>{{week.displayName}}</span>
                @if (menu.weeks.length > 1) {
                  <i class="fi fi-rr-cross-circle"
                     (click)="removeWeekClick$.next(week)">
                  </i>
                }
              </div>
            </ng-template>
            <p-table #table [value]="week.days"
                     styleClass="p-datatable-gridlines"
                     groupRowsBy="name"
                     rowGroupMode="subheader">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Первое</span>
                      <button pButton icon="fi fi-rr-edit" (click)="openModal(i, 'firstCourse')"
                              size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Второе</span>
                      <button pButton icon="fi fi-rr-edit" (click)="openModal(i, 'secondCourse')"
                              size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Гарнир</span>
                      <button pButton icon="fi fi-rr-edit" (click)="openModal(i, 'sideDish')"
                              size="small"></button>
                    </div>
                  </th>
                  <th style="width:25%">
                    <div class="header-cell-service">
                      <span>Салат</span>
                      <button pButton icon="fi fi-rr-edit" (click)="openModal(i, 'salad');"
                              size="small"></button>
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="groupheader" let-weekDay>
                @if (!!weekDay.meals.firstCourse ||
                !!weekDay.meals.secondCourse ||
                !!weekDay.meals.sideDish ||
                !!weekDay.meals.salad) {
                  <tr pRowGroupHeader class="group-header">
                    <td colspan="5">
                      <span class="font-bold ml-2">{{ weekDay.displayName }}</span>
                    </td>
                  </tr>
                }
              </ng-template>
              <ng-template pTemplate="body" let-weekDay let-rowIndex="rowIndex">
                @for (row of getMaxArrayLength(
                  weekDay.meals.firstCourse,
                  weekDay.meals.secondCourse,
                  weekDay.meals.sideDish,
                  weekDay.meals.salad
                ); track row; let j = $index) {
                  <tr>
                    <td pEditableColumnField="firstCourse"
                        [title]="weekDay.meals.firstCourse[j] || ''">
                      {{ weekDay.meals.firstCourse[j] }}
                    </td>
                    <td pEditableColumnField="secondCourse"
                        [title]="weekDay.meals.secondCourse[j] || ''">
                      {{ weekDay.meals.secondCourse[j] }}
                    </td>
                    <td pEditableColumnField="sideDish"
                        [title]="weekDay.meals.sideDish[j] || ''">
                      {{ weekDay.meals.sideDish[j] }}
                    </td>
                    <td pEditableColumnField="salad"
                        [title]="weekDay.meals.salad[j] || ''">
                      {{ weekDay.meals.salad[j] }}
                    </td>
                  </tr>
                }
              </ng-template>
            </p-table>
          </p-tabPanel>
        }
      </p-tabView>

      <p-dialog class="modal" [header]="(modalHeaderName$ | async)" [modal]="true"
                [(visible)]="isDialogShow">
        @if (isDialogShow) {
          <div class="modal-content">
            @if (currentDishType$ | async; as dishType) {
              <div class="form">
                <p-dropdown #weekDay
                            placeholder="Выберите день недели"
                            optionValue="key"
                            optionLabel="value"
                            appendTo="body"
                            [options]="DAYS_OF_WEEK | keyvalue"
                            (onChange)="selectedDay$.next($event.value)"/>

                @if (selectedDay$ | async; as selectedDay) {
                  @for (meal of mealsForm.controls; track meal; let i = $index) {
                    <div class="form-field-wrapper">
                      <p-inputGroup>
                        <input pInputText
                               placeholder="Введите название блюда"
                               [formControl]="mealsForm.controls[i]" />
                        <button type="button" pButton icon="fi fi-rr-trash" (click)="removeMeal(i)"></button>
                      </p-inputGroup>
                      @if (mealsForm.controls[i].getError('whitespace') && mealsForm.controls[i].dirty) {
                        <small>Поле должно быть заполнено</small>
                      }
                    </div>
                  }

                  <button class="add-meal-btn" pButton text="true"
                          [disabled]="mealsForm.controls.length >=5"
                          (click)="addMeal()"
                          label="Добавить блюдо">
                  </button>
                }
              </div>

              <div class="modal-service">
                <button pButton label="Отмена" severity="secondary" text="true"
                        [disabled]="(isLoading$ | async)"
                        (click)="resetData()"></button>
                <button pButton
                        style="min-width: 110px; justify-content: center"
                        [disabled]="!mealsForm.value.length || mealsForm.invalid || !weekDay.value || (isLoading$ | async)"
                        (click)="updateMenu$.next(menu)">
                  @if (isLoading$ | async) {
                    <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
                  } @else {
                    Изменить
                  }
                </button>
              </div>
            }
          </div>
        }
      </p-dialog>

      <p-dialog class="modal"
                modal="true"
                [header]="weekModalHeaderName$ | async"
                [(visible)]="isNewWeekDialogShow"
                (onHide)="weekDisplayNameFormControl.reset()">
        <div class="modal-content">
          <input pInputText placeholder="Введите название для новой недели" [formControl]="weekDisplayNameFormControl">

          <div class="modal-service">
            <button pButton label="Отмена"
                    severity="secondary"
                    text="true"
                    [disabled]="(isLoading$ | async)"
                    (click)="isNewWeekDialogShow = false; weekDisplayNameFormControl.reset()">
            </button>
            @if ((openModalMode$ | async) === 'new') {
              <button pButton
                      style="min-width: 110px; justify-content: center"
                      [disabled]="weekDisplayNameFormControl.invalid || (isLoading$ | async)"
                      (click)="addNewWeekClick$.next()">
                @if (isLoading$ | async) {
                  <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
                } @else {
                  Добавить
                }
              </button>
            } @else {
              <button pButton
                      style="min-width: 110px; justify-content: center"
                      [disabled]="weekDisplayNameFormControl.invalid || (isLoading$ | async)"
                      (click)="renameWeekClick$.next(weekDisplayNameFormControl.value)">
                @if (isLoading$ | async) {
                  <p-progressSpinner [style]="{width: '18px', height: '18px'}" strokeWidth="6"></p-progressSpinner>
                } @else {
                  Переименовать
                }
              </button>
            }
          </div>
        </div>
      </p-dialog>
    } @else {
      <app-loading-screen></app-loading-screen>
    }

    @if (isLoading$ | async) {
      <app-loading-screen></app-loading-screen>
    }
  </div>
</div>
