<p-tabView [(activeIndex)]="_selectedTabIndex">
  <p-tabPanel header="Администрирование меню">
    <div class="tab-content">
      <app-menu-administration [generalMenu]="generalMenu$ | async"
                               [serviceError]="errorSubject$ | async"
                               (updateMenu)="saveGeneralMenu$.next($event)"
                               (addNewWeek)="addNewWeek$.next($event)"
                               (removeWeek)="removeWeek$.next($event)"
                               (renameWeek)="renameWeek$.next($event)"
                               (changeDishesWithDay)="selectedDishesWithDay$.next($event)">
      </app-menu-administration>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Администрирование пользователей">
    <div class="tab-content">
      <app-users-management [employees]="employees$ | async"
                            [serviceError]="errorSubject$ | async"
                            (addUser)="addNewUser$.next($event)"
                            (removeUser)="removeUser$.next($event)"
                            (editUser)="editUser$.next($event)"
                            (openUserMenu)="editSelectedUserMenu$.next($event)">
      </app-users-management>
    </div>
  </p-tabPanel>
</p-tabView>

@if (isLoading$ | async) {
  <app-loading-screen></app-loading-screen>
}
