<p-tabView [activeIndex]="1">
  <p-tabPanel header="Персональное меню">
    <div class="tab-content">
      <app-personal-menu [userMenuData]="currentUserMenu$ | async"
                         [generalMenu]="generalMenu$ | async"
                         (refreshUserData)="refreshUserMenu$.next()">
      </app-personal-menu>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Администрирование меню">
    <div class="tab-content">
      <app-menu-administration [generalMenu]="generalMenu$ | async"></app-menu-administration>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Администрирование пользователей">
    <div class="tab-content">
      <app-users-management></app-users-management>
    </div>
  </p-tabPanel>
</p-tabView>
