<p-tabView [activeIndex]="2">
  <p-tabPanel header="Персональное меню">
    <div class="tab-content">
      <app-personal-menu [userMenuData]="currentUserMenu$ | async"
                         [generalMenu]="generalMenu$ | async"
                         (saveMenuData)="saveUserMenu$.next($event)">
      </app-personal-menu>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Администрирование меню">
    <div class="tab-content">
      <app-menu-administration [generalMenu]="generalMenu$ | async"
                               [firstCourses]="firstCourses$ | async"
                               [secondCourses]="secondCourses$ | async"
                               [sideDishes]="sideDishes$ | async"
                               [salads]="salads$ | async"
                               (updateMenu)="saveGeneralMenu$.next($event)">
      </app-menu-administration>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Администрирование пользователей">
    <div class="tab-content">
      <app-users-management [employees]="employees$ | async"></app-users-management>
    </div>
  </p-tabPanel>
</p-tabView>
