@use "themes/mytheme/variables" as var;

.user-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .user-menu-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 1%;
    flex: 1;
    padding: 32px;

    .user-name {
      font-size: 20px;
      font-weight: 500;
    }

    .table-container {
      height: 1%;
      flex: 1;

      .group-header {
        height: 40px;
        background-color: var.$tableHeaderBg;

        td {
          padding: 0;
          text-align: center;
          font-weight: 500;
          color: var.$primaryColor;
        }
      }
    }
  }
}
