<div class="user-menu-container">
  <app-toolbar></app-toolbar>

  @if (currentUserMenu$ | async; as menu) {
    <div class="user-menu-content">
      <div class="user-top-service">
        <div class="user-name">{{menu.employeeName}}</div>
        <div class="date">{{currentDate}}</div>
      </div>


      <div class="table-container">
        <app-user-menu-table [weeks]="menu.weeks"
                             [generalMenu]="generalMenu$ | async"
                             (changeMenu)="changedUserMenu$.next(menu);"
                             [currentWeek]="currentWeek">
        </app-user-menu-table>
      </div>

      <button style="align-self: center" pButton [disabled]="getBtnState(menu, _cachedUserMenu)" (click)="saveMenuBtnClick$.next(menu)">Сохранить изменения</button>
    </div>
  }
</div>
